/* camera.css - Styles pour l'affichage de la caméra */

/* Style du conteneur de la caméra */
.camera-container {
    width: 480px;
    height: 480px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
}

/* Style du canvas de la caméra */
#cameraFeed {
    background-color: black;
    width: 480px;
    height: 480px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
